@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient-green-blue: linear-gradient(90deg, #02aab0 0%, #00cdac 100%);
  --colors-emerald-300: #6ee7b7;
}

html {
}

body {
  background-color: #0b0d21;
  height: 100vh;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

/* REUTILISABLE CLASSE */

/* PAGE GLOBAL */
#page-global {
  align-items: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 72px 1fr 368px;
  /* grid-template-rows: auto 1fr auto; */
}

/* ASIDE NAVIGATION */

#Side-Navigation-Container {
  border-radius: 16px;
  background: linear-gradient(179deg, #161a42 0%, rgba(22, 26, 66, 0) 100%);
  border: solid #444974 2px;
  height: 95%;
  width: 72px;
}

.Side-Navigation hr {
  border: none;
  width: 56px;
  height: 2px;
  background: #2e357b;
}

.Side-Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.container-icone-nav {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  fill: var(--gradient, linear-gradient(180deg, #3461ff 0%, #8454eb 100%));
  filter: drop-shadow(3px 5px 14px rgba(89, 62, 255, 0.54));
}

.home-active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  border-radius: 6px;
  background: #232966;
  padding: 8px 0px;
  width: 100%;
  border-right: solid #ec008c 3px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icone {
  width: 24px;
  height: 24px;
  fill: #00cdac;
}
.log-out-div {
  height: 27.96%;
  display: flex;
  flex-direction: column-reverse;
}





/* header */

#center-page-Container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  height: 95%;
  
}

.div-section2-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 61.19%;
}

/*! Serach */
#top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 34px;
}
#top form {
  /* width: 449px; */
  border-radius: 16px;
  background: linear-gradient(179deg, #161a42 0%, rgba(22, 26, 66, 0) 100%);
  border: solid #444974 2px;
  display: flex;
  align-items: center;
  padding: 10px 150px 10px 20px;
}



#top input {
  background: none;
  border: none;
  color: #a1a5b6;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

#top .loupe {
  color: #a1a5b6;
  font-size: 30px;
  margin-right: 27px;
}

#top .search-bar::placeholder {
  color: #a1a5b6;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*! Balance */

#top .Balance {
  border-radius: 16px;
  background: linear-gradient(179deg, #161a42 0%, rgba(22, 26, 66, 0) 100%);
  border: solid #444974 2px;
  display: flex;
  align-items: center;
  padding: 16px 16px;
}

#top h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  letter-spacing: 0.32px;
  font-weight: 500;
}

/*! bell */

#top .bell {
  border-radius: 16px;
  background: linear-gradient(179deg, #161a42 0%, rgba(22, 26, 66, 0) 100%);
  border: solid #444974 2px;
  display: flex;
  align-items: center;
  padding: 11.5px;
}

/*! Create */
#top .Create {
  border-radius: 16px;
  background: linear-gradient(179deg, #161a42 0%, rgba(22, 26, 66, 0) 100%);
  border: solid #444974 2px;
  display: flex;
  align-items: center;
  padding: 16px 20px;
}

/*! Connect-Wallet */
#top .Connect-Wallet {
  border-radius: 16px;
  background: linear-gradient(179deg, #161a42 0%, rgba(22, 26, 66, 0) 100%);
  display: flex;
  align-items: center;
  padding: 16px 23px;
  border: #00cdac solid 2px;
}

/*! hr */

#top hr {
  border: none;
  height: 56px;
  border-left: 2px solid #dfb9dc; /* Couleur et épaisseur de la ligne */
  border-radius: 100px;
  margin-left: 5px;
}

/*! name-and-email */

.profile-div1 {
  width: 280px;
  display: flex;
  align-items: center;
}

.name-and-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 49px;
  margin-left: 16px;
}

.name-and-email h3 {
  color: #e2e4e9;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.name-and-email h4 {
  color: #93c5fd;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.arrow i {
  color: #afb5c0;
  font-size: 30px;
}

/* Live-Auction-container */
#Live-Auction-container{
  width: 100%;
  margin-bottom: 34px;
}
.auction-container {
  display: flex;
  justify-content: space-between;
}
/*! txt-and-link */
.txt-and-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txt-and-link h2 {
  color: #e2e4e9;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.link {
  display: flex;
  align-items: center;
}

.link h4 {
  color: #5eead4;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-right: 8px;
}

.link i {
  color: #5eead4;
  font-size: 20px;
}
.Live-Auction-1 {
  position: relative;
}

.Live-Auction-1 .img-auction {
  width: 650px;
  height: 305px;
  object-fit: cover;
  border-radius: 24px;
  object-position: center 35%;
}

.txt-info-container {
  display: flex;
  justify-content: center;
}

.txt-info-container h3 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 11px;
}

.txt-info-container h4 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.info-live-auction,
.info-live-auction2 {
  position: absolute;
  bottom: 13px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.txt-info-time {
  display: flex;
  margin-right: 32px;
}

.txt-info-time img {
  width: 13px;
  height: auto;
  margin-right: 13px;
}

.info-live-auction {
  border-radius: 12px;
  border: 1px solid #60a5fa;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  width: 307px;
  height: 129px;
}
.info-live-auction2 {
  border-radius: 12px;
  border: 1px solid #60a5fa;
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(6px);
  width: 307px;
  height: 129px;
}
.Place-A-Bid {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.Place-A-Bid a {
  border-radius: 12px;
  border: 2px solid #06b6d4;
  background: rgba(22, 26, 66, 0.7);
  backdrop-filter: blur(5px);
  color: #fff;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 92px;
}

/* Top-Sellers */

/*! txt */
#Top-Sellers{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  margin-bottom: 34px;
}
#Top-Sellers .txt {
  color: #6ee7b7;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

/*! Top-Sellers-profile-div */

.Top-Sellers-profile-div

.profile-div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #161a42;
}

.profile-div::-webkit-scrollbar {
  width: 12px;
  background-color: none;
  height: 8px;
}

.profile-div::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
}

#Top-Sellers .profile {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.profile-div {
  max-width: 1320px;
  overflow-x: auto;
  /* margin-bottom: 30px; */
}

.profile-btm {
  display: flex;
  margin-bottom: 16px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-picture img {
  border-radius: 12px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 12px;
}

.txt-profile h3 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

.txt-profile h4 {
  color: #5eead4;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.txt-profile h3 img {
  width: 17px;
  margin-left: 7px;
}

/* Hot-Bids */

/*! txt */
#Hot-Bids{
  width: 100%;
}
#Hot-Bids .txt {
  color: #a5f3fc;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.Hot-Bids-Card-div {
  margin-top: 60px;
  /* width: 188px; */
}

.hot-bids-top-card {
  position: relative;
  width: 188px;
}
.top1 {
  position: absolute;
  z-index: -1;
  top: -43px;
  width: 100%;
}

.hot-bids-top-card .top h2 {
  color: #fafafb;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-right: 52px;
}
.hot-bids-top-card .top h3 {
  color: #fafafb;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hot-bids-top-card .top h3 img {
  width: 20px;
  margin-left: 5px;
}
.hot-bids-top-card .top {
  position: relative;
}
.hot-bids-top-card .top .top-txt {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 63%;
}

.hot-bids-info {
  width: 100%;
}
.hot-bids-info h2 {
  color: #fafafb;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.hot-bids-info h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: -webkit-linear-gradient(#acb6e5, #86fde8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-profile {
  position: relative;
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.container-price-bulle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}
.container-price-bulle .img-profile img {
  width: 24px;
  height: 24px;
  border-radius: 40px;
  border: 2px solid var(--colors-indigo-900, #312e81);
  position: absolute;
}

.container-price-bulle .img-profile .img2 {
  left: 15px;
  z-index: 2;
}
.container-price-bulle .img-profile .img3 {
  left: 30px;
  z-index: 3;
}
.container-price-bulle .img-profile .img1 {
  z-index: 1;
}

.hot-bids-info .name {
  margin-bottom: 3px;
}

.Hot-Bids-Card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hot-bids-card .img-caree {
  width: 188px;
  height: 188px;
  object-fit: cover;
  border-radius: 12px;
}




/* Side-Bar-My-Profile */

/*! Side-Bar-My-Profile-container */

#Side-Bar-My-Profile {
  border-radius: 16px;
  border: 3px solid #075985;
  background: linear-gradient(179deg, #161a42 0%, rgba(22, 26, 66, 0) 100%);
  width: 368px;
  height: 95%;
}
.Side-Bar-My-Profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2.96% 0px ;
}

/* ! profile-info */

.profile-info h1 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom:  2.59%;
}
.profile-info h2 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.profile-info .img-profile-side .img-profile-circles {
  width: 104px;
  height: 104px;
  border-radius: 104px;
}

.profile-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.img-profile-side {
  height: 124px;
  margin-bottom: 2.22%;
}

.profile-info .img-profile-side img {
  position: absolute;
}
.profile-info .img-profile-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-info .img-profile-side .circles-img {
  width: 124px;
}

/*! stats-info */
.stats1-container {
  width: 68px;
  text-align: center;
}

.stats-info {
  margin: 0 24px;
  justify-content: space-between;
  display: flex;
}
.stats1-container h4 {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.stats1-container h5 {
  margin-top: 1.02%;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.stats-info .stats1-container .stats1-border {
  border-radius: 16px;
  background: rgba(22, 26, 66, 0.7);
  backdrop-filter: blur(5px);
  padding: 12px 20px;
  border: solid #6658f2 2px;
}

/*! Balance */
.Your-Balance-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Your-Balance-container .txt h3 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1.29%;
}
.Balance {
  border-radius: 16px;
  border: 2px solid #495099;
  background: rgba(22, 26, 66, 0.7);
  backdrop-filter: blur(5px);
}

.info-balance h3 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.Balance .btn-add h5 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.info-balance img {
  width: 32px;
  height: 32px;
  margin-right: 11px;
}
.balance-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.info-balance {
  display: flex;
  align-items: center;
  margin-right: 86px;
}

.Balance .btn-add i {
  color: #fff;
  font-size: 18px;
  transform: rotate(-90deg);
}
.Balance .btn-add {
  display: flex;
  align-content: center;
}

.Balance .btn-add h5{
  margin-right: 5px;
}

/* GRAPH */

.container-Revenue-container h3, .Recent-Activities-container h3 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.container-Revenue-container a, .Recent-Activities-container a {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.container-Revenue-container i, .Recent-Activities-container i {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.This-Month-click {
  display: flex;
  align-items: center;
}

.container-Revenue-container .div-txt-container, .Recent-Activities-container .div-txt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.29%;
}

.graph {
  border-radius: 16px;
  border: 2px solid #495099;
  background: rgba(22, 26, 66, 0.7);
  backdrop-filter: blur(5px);
  width: 320px;
  height: 199px;
}
.axe-x-data {
  height: 100%;
  width: 100%;
  /* justify-content: space-between; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}
.axe-x-data li {
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  color: #b1baed;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

.axe-x-data li hr {
  margin-left: 5px;
  border: none;
  width: 100%;
  height: 2px;
  /* background: #2e357b; */
  background-image: linear-gradient(
    to right,
    #3c4795 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 10px 20px;
  background-repeat: repeat-x;
}
.containerbar-txt .bar {
  border-radius: 8px 8px 0px 0px;
  background: linear-gradient(
    95deg,
    #47e2ec 0.01%,
    #5c98df 48.96%,
    #a314d4 100%
  );
}

.containerbar-txt .bar1 {
  width: 14px;
  height: 52px;
}
.containerbar-txt .bar2 {
  width: 14px;
  height: 72px;
}
.containerbar-txt .bar3 {
  width: 14px;
  height: 124px;
}
.containerbar-txt .bar4 {
  width: 14px;
  height: 108px;
}
.containerbar-txt .bar5 {
  width: 14px;
  height: 60px;
}
.containerbar-txt .bar6 {
  width: 14px;
  height: 90px;
}
.containerbar-txt h5 {
  color: #b1baed;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
}

.containerbar-txt .bar1-div,
.containerbar-txt .bar2-div,
.containerbar-txt .bar3-div,
.containerbar-txt .bar4-div,
.containerbar-txt .bar5-div,
.containerbar-txt .bar6-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
}

.containerbar-txt {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-graph-bar-div {
  width: 100%;
  position: absolute;
  bottom: 26px;
  left: 10px;
}
.container-graph {
  position: relative;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 30px;
}

.axe-y {
  width: 290px;
  height: 130px;
}

/* Activity */

.Activity-container .Activity-1 {
  border-radius: 16px;
  background: #212760;
  width: 320px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  
}

.activity1{
  margin-bottom: 1.2%;
}
/*! stats-info */

.Activity-container .img-acticity {
  border-radius: 8px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-right: 12px;
}

.Activity-container .info-activity {
  display: flex;
  align-items: center;
}

.Activity-container .txt-info-activity h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.28px;
}

.Activity-container .txt-info-activity .by-activity {
  display: flex;
}

.Activity-container .txt-info-activity .by-activity h4 {
  color: #dbeafe;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.Activity-container .txt-info-activity .by-activity h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  background: -webkit-linear-gradient(#acb6e5, #86fde8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Activity-container .detail-activity h4 {
  color: #67e8f9;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
}
.Activity-container .detail-activity h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.24px;
  margin-bottom: 11px;
}
.Activity-container .detail-activity h5 {
  color: #93c5fd;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.Activity-container .detail-activity {
  display: flex;
  flex-direction: column;
}
